
/************** color *************/
$regular-color: #fff;
$primary-color: #000;
$primary2-color: #1C263C;
$primary3-color: #313C53;
$secondary-color: #ccc;
$base-color1: #EC3232;
$base-color2: #F8F9FB;
$base-color3: #002333;
$base-color4: #5A6E7B;
$base-color5: #87959A;
$base-color6: #A8B3BC;
$base-color7: #DCFC9A;
$base-color8: #696FF1;
$base-color9: #EEFFCB;
$regular-border: #EFEFEF;
$primary-border: #ECF1F6;
$primary2-border: #1C263C;
$secondary-border:#EAEFF4;

/************** set color *************/
$theme-color:$base-color2;
$global-text-color:$primary-color;
$title-color-sm:$base-color4;
$base-text-color:$primary-color;
$tab-highlight-color:$base-color1;

// font size
$regular-font: 16px;
$primary-font: 15px;
$secondary-font: 14px;


// header
$header-nav-font-size: 14px;
$header-nav-color: #ffffff;
$header-nav-hover-color: #0095DA;

/************** font *************/

$base-font:Arial;


/** sprite img **/
