<mat-list role="list" class="list-t">
  <mat-list-item role="listitem" *ngFor="let data of listData; let i = index"
    [ngClass]="{ 'completed': data.completed === true }">
    <ng-container *ngIf=" i != selectedIndex">
      <mat-slide-toggle [checked]="data.completed" (change)="compFunct($event,data,i)">{{data?.title}}
      </mat-slide-toggle>

      <button mat-icon-button color="accent" (click)="delete(i)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="edit(i,data)">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="isEdit && i === selectedIndex">
      <mat-form-field class="example-full-width">
        <input matInput [value]="data?.title" #titleVal>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="update(i,titleVal.value)">Update</button>
    </ng-container>
  </mat-list-item>
</mat-list>
<p *ngIf="listData.length === 0">What are you thinking, Add your first todo? 😉</p>